@import "../../App.css";

.product-single .product-single-content {
    row-gap: 2rem;
    padding: 12px;
}

@media screen and (min-width: 768px) {
    .product-single .product-single-content {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
    }
}

.product-single .product-single-content .product-single-l .product-img .product-img-zoom {
    height: 380px;
    overflow: hidden;
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs {
    overflow-x: scroll;
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs::-webkit-scrollbar {
    height: 5px;
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs::-webkit-scrollbar-thumb {
    border-radius: 10px;
    outline: 1px solid var(--clr-light-orange);
    background-color: lighten(var(--clr-light-orange), 5%);
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs .thumb-item {
    margin: 0 5px;
    height: 120px;
    border: 2px solid var(--clr-white);
    transition: var(--transition-ease);
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs .thumb-item img {
    transition: var(--transition-ease);
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs .thumb-item:first-child {
    margin-left: 0;
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs .thumb-item:last-child {
    margin-right: 0;
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs .thumb-item:hover {
    border-color: var(--clr-orange);
}

.product-single .product-single-content .product-single-l .product-img .product-img-thumbs .thumb-item:hover img {
    transform: scale(0.9);
}

.product-single .product-single-content .product-single-r {
    margin-top: 2rem;
}

.product-single .product-single-content .product-single-r .product-details .title {
    padding-bottom: 0.6rem;
    border-bottom: 1px solid var(--clr-light-gray);
}

.product-single .product-single-content .product-single-r .product-details .para {
    margin: 1rem 0;
    opacity: 0.9;
}

.product-single .product-single-content .product-single-r .product-details .info {
    margin-bottom: 1.6rem;
}

.product-single .product-single-content .product-single-r .product-details .price {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 2rem;
}

.product-single .product-single-content .product-single-r .product-details .price .old-price {
    text-decoration: line-through;
}

.product-single .product-single-content .product-single-r .product-details .price .discount {
    padding: 0 0.8rem;
    border-radius: 3px;
    margin-left: 8px;
    margin-top: 2px;
}

.product-single .product-single-content .product-single-r .product-details .qty .qty-change .qty-decrease,
.product-single .product-single-content .product-single-r .product-details .qty .qty-change .qty-increase {
    width: 28px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
}

.product-single .product-single-content .product-single-r .product-details .qty .qty-change .qty-value {
    width: 45px;
    height: 28px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-single .product-single-content .product-single-r .product-details .qty .qty-error {
    padding: 2px 6px;
    border-radius: 3px;
}

.product-single .product-single-content .product-single-r .product-details .btns .btn {
    height: 46px;
    font-size: 15px;
    border: 1px solid var(--clr-orange);
    padding: 0 1.8rem;
    transition: var(--transition-ease);
}

.product-single .product-single-content .product-single-r .product-details .btns .btn-text {
    text-transform: capitalize;
}

.product-single .product-single-content .product-single-r .product-details .btns .btn:first-child {
    background-color: #FFEEE8;
    color: var(--clr-orange);
}

.product-single .product-single-content .product-single-r .product-details .btns .btn:last-child {
    background-color: var(--clr-orange);
    color: white;
}

.product-single .product-single-content .product-single-r .product-details .btns .btn:hover {
    opacity: 0.9;
}