@import "../../App.css";

.header {
    background: rgb(249, 78, 48);
    background: linear-gradient(180deg, rgba(249, 78, 48, 1) 0%, rgba(255, 100, 51, 1) 100%);


    @media screen and (max-width: 992px) {
        .header-cnt-top {
            flex-direction: column;

            .header-cnt-top-l {
                margin-bottom: 4px;
            }
        }
    }

}


.header {
    background: #f94e30;
    background: linear-gradient(180deg, #f94e30 0, #ff6433 100%)
}

.header-cnt-top {
    border-bottom: 1px solid lighten(var(--clr-orange), 10%);
}

@media screen and (max-width:992px) {
    .header .header-cnt-top {
        flex-direction: column
    }

    .header .header-cnt-top .header-cnt-top-l {
        margin-bottom: 4px
    }
}